violations.report
.cache/
.devspace/
.kube/
/.idea
/.devspace/logs/
/ui/node_modules
/apiserver.local.config
/loft
/main
/test
/key
*.exe
*.tgz
*.*~
/vendor/github.com/loft-sh/loft
/generator
/e2e/certs
/e2e/data
**/__debug_bin
profile.out
e2e.test
.DS_Store
